*,
::after,
::before {
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  box-sizing: border-box;
  font-family: "PT Serif", serif;
}
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.App h3:hover {
  cursor: pointer;
}
.select_button {
  background-color: #f9bcdd;
  width: 90px;
  color: white;
  text-align: center;
  height: 30px;
  padding: 15px;
}

.active {
  background-color: #b689b0;
}
